<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>

  <body>
      {{> header}}

      <p>Ecco il testuccio bello about</p>
      
      {{> footer}}
  </body>

</html>
